@model IEnumerable<AppTarefas.Models.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<h1>Tarefas</h1>

<p>
    <a asp-action="Create" class="btn add text-white">Adicionar tarefa</a>
</p>

<form class="d-flex" role="search">
    <input name="inFiltro" class="form-control me-2" type="search" arial-label="search" />
    <button class="btn btn-outline-success" asp-controller="Tarefas" asp-action="Filter"></button>
</form>

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TarefaNome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.TarefaNome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>

                    <td style="color:@item.Categoria.CategoriaCor">
                        @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                    </td>

                    <td class="status">
                        @Html.DisplayFor(modelItem => item.Status.StatusNome)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.TarefaId" class="btn edit text-white"><svg bootstrap-icon="Pencil" width="16" height="16" class="text-white"></svg></a>
                    </td>

                    <td>
                        <a asp-action="Details" asp-route-id="@item.TarefaId" class="btn details text-white"><svg bootstrap-icon="InfoCircle" width="16" height="16" class="text-white"></svg></a>
                    </td>

                    <td>
                        <a asp-action="Delete" asp-route-id="@item.TarefaId" class="btn delete text-white"><svg bootstrap-icon="Trash" width="16" height="16" class="text-white"></svg></a>
                    </td>


                </tr>
            }
        </tbody>
    </table>
</div>

<style>

    .Coisa {
        background-color: Red;
    }

</style>


<script>
    var linhas = document.getElementsByClassName('status');
    for (var i = 0; i < linhas.length; i++) {
        if (linhas[i].innerHTML.trim() === 'Concluído') {
            linhas[i].classList.add('bg-success');
            linhas[i].classList.add('fw-bold');
            linhas[i].classList.add('text-white');
        }

        else {
            if (linhas[i].innerHTML.trim() === 'Fazendo') {
                linhas[i].classList.add('bg-warning');
                linhas[i].classList.add('fw-bold');
            }

            else {
                linhas[i].classList.add('bg-danger')
                linhas[i].classList.add('fw-bold');
                linhas[i].classList.add('text-white');
            }
        }
    }
</script>
